
// Global variables //

/**
 * CODAXY
 * @var {number}
 * defining global size for app
 * By changing the value of $theme-size variable, you can choose between small, medium and large theme size of your app. 
   Through theme-scale and theme-scale-switch functions (take a look at codaxy-core-classic/sass/etc/functions/scale-factor.scss) many variables are influenced by the value of $theme-size.
 */
$theme-size: dynamic(0);


$base-color: dynamic(lighten(red, 14));
$neutral-color: dynamic(#eeeeee);

$neutral-light-color: dynamic(mix(#fff, $neutral-color, 68%));
$neutral-dark-color: dynamic(mix(#000, $neutral-color, 22%));

$font-family: dynamic('Segoe UI', Segoe, 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif);
$font-size: dynamic(12px);
$image-extension: dynamic('png');
$include-default-uis: dynamic(true);

$panel-borders-overrides: dynamic(true);
$border-color: dynamic(null);

$ext-trial: false !default;

$base-blur: dynamic(rgba(#fff, 0));

$codaxy-trial: dynamic(false);

$trial-theme-name: dynamic(null);