
// Global variables //

$theme-size-medium: dynamic(25);
$theme-size-normal: dynamic(0);

$theme-size: dynamic($theme-size-medium);

$base-color: dynamic(#343434); //header color
$neutral-color: dynamic(#2b2b2b); //body color
$neutral-color-dark: dynamic(#1d1d1d); //from background color

$over-color: dynamic(#4b5367);

$font-family: dynamic("Segoe UI", Segoe, "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif);
$font-size: dynamic(theme-scale(12px, 25));

$image-extension: dynamic('png');
$include-default-uis: dynamic(true);

$color: dynamic(darken(white, 20));
$border-color: dynamic(lighten(black, 10));

$panel-borders-overrides: dynamic(false);
