
$html-editor-font-select-font-size: dynamic(theme-scale(11px, 32));
$html-editor-background-color: dynamic(lighten($neutral-color-dark, 3));
$html-editor-color: dynamic($color);
$html-editor-input-border-width: dynamic(0 1px 1px);