$base-color: #f0c14b;
$form-field-empty-color: "transparent";
$form-field-focus-border-color: dynamic(#f0c14b);
$button-default-border-color: #846a29;
$button-medium-border-radius: 3px;
$button-large-border-radius: 3px;
$button-small-border-radius: 3px;
$button-default-color: #000000;
$panel-frame-border-radius: 5px;
$panel-border-width: 1px;
$button-default-background-color: #96865d;
$tab-color-active: blue;
$tab-border-color-active: blue;
$tab-border-width-active: 2px;
$font-size: 14px;
$font-family: sans-serif, helvetica, arial, verdana;
$form-label-font-weight: bold;
