
$tabbar-padding: dynamic(0);
$tabbar-plain-padding: dynamic(0);

$tabbar-background-gradient: dynamic(none);
$tabbar-base-color: dynamic($neutral-color-dark);

$tabbar-border-width: dynamic(0 1px 1px 0);
$tabbar-border-color: dynamic($border-color);
$tabbar-inner-border-width: dynamic(1px 0 0 0);

$tabbar-scroller-opacity-disabled: dynamic(.5);
$tabbar-scroller-symmetrical-icons: dynamic(true);

$tabbar-strip-height: dynamic(3px);
$tabbar-strip-border-width: dynamic(1px 0 0 1px);
$tabbar-strip-border-color: dynamic($border-color);
$tabbar-strip-background-color: dynamic($base-color);
$tabbar-strip-plain-border-width: dynamic(1px 1px 0 1px);




